{% extends "./proj/base.html.twig" %}

{% block title %}About Game{% endblock %}

{% block body %}
<div class="game-container">
    <img src="{{ asset('img/project/Room_DALL-E.webp') }}" alt="hej" class="me">
    <div>
        <form action="">
          <label for="fname">></label>
          <input type="text" id="input-text" class="input-text" name="input-text">
          <input type="submit" hidden />
        </form>
      </div>
</div>

{% endblock %}  