{% extends './proj/base.html.twig' %}

{% block title %}About Project{% endblock %}

{% block body %}
<div class="proj-container center">
    <h1 class="text-center">HEJ</h1>



</div>
{% endblock %}
