<div class="footer">
    <div class="social">
        This is a footer with relevant data. You can find social media links, email address, crypto wallet addresses, home address, face-to-hand ratios etc. here.

    </div>
</div>

