{% extends './proj/base.html.twig' %}

{% block title %}Game Project Kmom07/10!{% endblock %}

{% block body %}
<div class="index center">
    <h1 class="text-center">Game!</h1>
    {# {% include './book/navbar_library.html.twig' %} #}

</div>
{% endblock %}
