{% extends './proj/base.html.twig' %}

{% block title %}Game Project Kmom07/10!{% endblock %}

{% block body %}

<div class="index center">
    <h1>{{ title }}</h1>
    {{ form(save_form) }}
</form>

</div>
{% endblock %}
