{% extends './proj/base.html.twig' %}

{% block title %}Your name{% endblock %}

{% block body %}

<div class="proj-container center">
    <h1 class="text-center">{{ title }}</h1>
    {{ form(save_form, { 'attr' : { 'class': 'save-form' } }) }}


</div>
{% endblock %}
