{% extends './proj/base.html.twig' %}

{% block title %}Game Project Kmom07/10!{% endblock %}

{% block body %}

<div class="save-container center">
    <h1 class="text-center">{{ title }}</h1>
    {{ form(save_form, { 'attr' : { 'class': 'save-form' } }) }}
</form>

</div>
{% endblock %}
