.game-container {
    margin: 0 auto;
    max-width: 1200px;

}

.images-game {
    // margin: 0 auto;
    text-align:center;
    display: inline-grid;
    align-items: center;
    justify-content: right;

    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #000;
}


.level{ 
    max-width: 100%;
    grid-area: 1 / 1 / 4 / 2;
    img {
        max-width: 800px;
        width: 80%;
    }
}
.sling { 

    justify-content: center;
    margin: 0 auto;
    grid-area: 1 / 2 / 2 / 3;
    // border: 10px solid #aa0;
    // background-color: #aa0;
    img {
        max-width: 150px;
        background-color: rgba(170, 170, 0, 0.274);
    }
}

.key { 
    max-width: 150px;
    grid-area: 2 / 2 / 3 / 3;
    img {
        display: block;
        max-width: 150px;
    }
    h2 {
        margin-bottom: 2rem;
        color: #aa0;
        text-decoration: underline;
    }
}

.gate-key { 
    max-width: 150px;
    grid-area: 3 / 2 / 4 / 3;
    img {
        max-width: 150px;
    }
}

.prompt-text {
    background-color: #000;
    color: #0f0;
    margin: 0 auto;
    padding: 2rem;;
    font-size: 1.4rem;
    line-height: 2rem;
    // height: 25%;
    border: 2px solid#aa0; 
    grid-area: 4 / 1 / 5 / 3; 
}
