.game-container {
    margin: 0 auto;
    max-width: 900px;

}

.game-table
{
    table-layout:fixed;
    width:100%;
    border: 20px groove #000;
    background-color: #9bbc0f;
    tr {
        height: 1px;
    }
}

.level-td {
    display: block;
    width: 600px;
    margin: 0;
    overflow: hidden;

}

.proj-api-ul {
    list-style-type: none;

}

.proj-container {
    max-width: $max-width;
    background-color:  #9bbc0f;
    padding: 1.4rem;
    border: 2px solid $border-color;
    border-radius: 2px;
    margin-top: 1.4rem;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.level-img 
{
    display: block;
    width:100%;
    height:auto;
    object-fit: contain;
}
.sling-img 
{
    vertical-align: top;
    object-fit: contain;

}


.sidebar-td
{
    margin: 0;
    width: 200px;
    // height: 100%;
    height: inherit;
    img {
        display: block;
        width:100%;
        max-height:150px;
    }
}

.inventory-text {

    background-color: #f3f3f3;
    margin: 0 auto;
    text-align: center;
}

.sling-container {
    background-color: #f3f3f3;
    border: 5px groove #000;
}

//from https://codepen.io/MatthewShields/pen/pwrXpV
$outline-width: 6px;
$shadow-width: 4px;

$button-background: #f3f3f3;
$sec-button-background: #999999;
$shadow-color:  #303030;
.button8bit 
{
    // background: $button-background;
    background: $button-background;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    text-decoration: none; 
    color: #000;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

    &:hover,
    &:focus {
        background: $sec-button-background;
        box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
    }

    &:active {
        box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
    }
}

.button8bitblue {
    background: #00f;
    border: 1px solid #ff0;
    color: #fff;
}

.smaller-font {
    font-size: 1rem;
}
    //

.game-side-table
{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-top: 0;
    height: 100%;
}

.prompt-text {
    background-color: #000;
    color: #0f0;
    margin: 0 auto;
    padding: 2rem;;
    font-size: 1.4rem;
    line-height: 2rem;
    // height: 25%;
    border: 2px solid#aa0; 
    grid-area: 4 / 1 / 5 / 3;
}

