.report {
    padding-top: 1rem;
}

.ul-report {
    margin-left: 1rem;
}

.cheat-img {
    display: block;
    width:100%;
    height:auto;
    object-fit: contain;

    margin: 0 auto;
    margin-bottom: 2rem;
    border: 5px solid #000;
}