{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="index center">
    <div class="row">
    <div class="column">
        <h1>Objektorienterade webbteknologier, 7,5 hp</h1>
        <p class="center">Kursens fokus är objektorienterade programmeringstekniker i programmeringsspråket PHP. 
            Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.
        <br><a href="https://github.com/dbwebb-se/mvc">Länk till kursens Git-repo</a>
        <br><a href="https://github.com/airhelios/mvc">Länk till min Git-repo</a>
        <br><a href="https://www.bth.se/utbildning/program-och-kurser/kurser/20241/BEGJ7/">Länk till kursplan</a></p>
    </div>
    <div class="column">
    <h1>Bild på något coolt</h1>
    <p class="center">Här är en bild som representerar kursen:
    <img src="{{ asset('img/pexels-mikhail-nilov-7988086.jpg') }}" alt="Kodare" class="about-bild">
    </p>
</div>
</div>
</div>

{% endblock %}  