{% extends "base.html.twig" %}

{% block title %}Kortspelet tjuguett{% endblock %}

{% block body %}
<div class="index center">
    <div class="column">
        <h1>Kortspelet tjuguett</h1>
        <p class="center game-p">Det här kortspelet går ut på att att man ska försöka komma närmare poängen 21 än datorn. Dock om du kommer över 21 så förlorar du.</p>
        <p class="center game-p">Varje kort har en valör, där ess har antingen 1 eller 14 (valfritt).</p>
        <p class="center game-p">Du som spelare börjar. Och efter varje nytt kort får du möjligheten att fortsätta. Om du får över 21 så förlorar du per automatik.</p>
        <p class="center game-p">När du är nöjd så ska datorn spela. Den ska fortsätta dra ur kortleken tills den har poäng på 17 eller mer. Om datorn får mer än 21 så får du som spelare tillbaka insatsen.</p>
        <p class="center game-p">Du som spelare måste komma närmare 21 än datorn för att vinna!</p>
        <p class="center game-p"><a href="{{ path('game_docs') }}">Här är länk till docs</a></p>
                <p class="center game-p"><a href="{{ path('game_play') }}"><button class="button button-purple">Starta spelet här</button></a></p>
    </div>

</div>
</div>
</div>

{% endblock %}  