{% extends 'base.html.twig' %}

{% block title %}Create Book!!{% endblock %}

{% block body %}


<div class="index form-center center">
    <h1 class="text-center">Create book!</h1>
    {{ form(book_form) }}
</div>
{% endblock %}
