{% extends 'base.html.twig' %}

{% block title %}Create Book!!{% endblock %}

{% block body %}


<div class="index center">
    {% include './book/navbar_library.html.twig' %}
    <div class="form-center">
    <h1 class="text-center">Create book!</h1>
    {{ form(book_form) }}
</div>
</div>
{% endblock %}
