{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<div class="index center">
    <h1 class="text-center">Click the Library links below!</h1>
    {% include './book/navbar_library.html.twig' %}

</div>
{% endblock %}
