{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<div class="index center">
    
<ul>
    <li><a href="{{ path('create_book') }}">Create book</a></li>

</ul>
</div>
{% endblock %}
