
    <nav class="library-nav">
        <button class="button full-width">
            <a href="{{ path('create_book') }}" class="button-link">Create book
            </a></button>
        <button class="button full-width">
            <a href="{{ path('book_by_id', {id:'1'}) }}" class="button-link">Show one book
            </a></button>
        <button class="button full-width">
            <a href="{{ path('book_show_all') }}">Show all books</a></button>
    </nav>

