{% block main %}
<h1>Roll a dice</h1>

<p>Here is the value of the dice.</p>

<ul>
    <ul>
            {% for dice in dice_string_array %}
            <li>{{ dice }}</li>
        {% endfor %}
</ul>

<p>Try to roll 
    <a href="{{ path('test_roll_num_dices', {num: 5}) }}">5</a>
    or 
    <a href="{{ path('test_roll_num_dices', {num: 10}) }}">10</a>
    dices.
</p>
{% endblock %}