* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: $font-color;
}

.nav-ul{
    background-color: $comp2;
    border: 2px solid $border-color;
    border-radius: 2px;
}

.nav-ul-lucky{
    background-color: $comp2;
    border: 20px solid $border-color-lucky;
    border-radius: 4px;
}



html, body {
    height: 100%;
    line-height: 1.4rem;
}


a, a:visited {
    color: $font-color;
}

a:hover {
    font-weight: bolder;
}

body {
    background-color: $comp1;
    overflow-y: scroll;    /* Always display scrollbar, avoid hopping pages */
    overflow-x: hidden;


}   
.lucky {
    background-color: $background-darker;
}

.hidden {
    display: none !important;
}

p {
    line-height: 1.4rem;
}

.header {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.social {
    color: $icon-color;
    border: 2px solid $border-color;
    background-color: $comp2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.2rem;
    padding-bottom: 0;
    max-width: 35%;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
}

.footer {
    margin-top: 2rem;

}

   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: $header-color;
}

a .site-title {
    text-decoration: none;
}

.index {
    max-width: $max-width;
    background-color: $background-color;
    padding: 1.4rem;
    border: 2px solid $border-color;
    border-radius: 2px;
    margin-top: 1.4rem;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
}
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    h1 {
        line-height:1.2em;
    }
}

.me {
    max-width:25%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fade-in {
    animation: fadeIn 5s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.about-bild {
    max-width:50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width: fit-content;
    margin-right: auto;
    max-width: 200px;
}

.small {
    font-size: 0.8rem;
}

.title {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title a {
    text-decoration: none;
}

.title h1 {
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.main {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.5rem;

}


.site-header {
    width: 100%;
    padding-top: 2rem;
    // background-color: $comp1;
}

.text-center {
    text-align: center;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
