.card {
    font-size: 5rem;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.card-num {
    margin-bottom: 3rem;
}

.Clubs
{
    color: #000;
}

.Spades
{
    color: #000;
}

.Diamonds
{
    color: #f00;
}

.Heart
{
    color: #f00;
}