.game-doc-image {
    max-width:45%;
    display: inline;
    margin-right: auto;
    margin-left: auto;
}

.game-doc-figure {
    display: inline-block;
    text-align: center;
    width: 45%;
}

.game-p {
    margin: 0.5rem;
    line-height:1.4rem;
}