$comp1: #a5a8f8;
$comp2: #D6C6D0;
$comp2-stronger: #5b5459;

$background-color: #fff;
$background-softer: #f0efef;
$background-darker: #282828;
$icon-color: #000;
$white: #fff;
$blue-button: #008CBA;
$red-button: #f44336;

$border-color: #ffc800;

$border-color-lucky: #126e51;

$green-button: #04AA6D;

$font-color: #000;
$font-color-2: #0bfe0b;
$font-color-3: #000;
$font-alternative-color: #fff;
$link-color: $comp2-stronger;
$link-color-2: $background-color;

$accent-color: #ee6c4d;
$nav-color: $background-darker;
$reset-color: #fff;

$header-color: $font-color;
$code-background: $background-softer;

$max-width: 1200px;

// $background-image-url: "../../../assets/img/1k_Dissolve_Noise_Texture.png";
$animation-time: 1s

/*Triad color scheme*
 #0b0bff  #0bfe0b  #fe0b0b https://pinetools.com/split-complementary-colors */