{% extends "base.html.twig" %}

{% block title %}API quote{% endblock %}

{% block body %}
<div class="index center text-center">
    <h1>Current API Routes</h1>
    <p class="text-center">

        <p><a href="./api">API</p>
        <p><a href="./api/quote">Quote</a></p>
        </p>

</div>

{% endblock %}