{% extends "base.html.twig" %}

{% block title %}Main{% endblock %}

{% block body %}
<div class="index center">
    <h1>Vem är jag?</h1>
    <p class="center">
    Jag heter Förnamn Efternamn, jag är här för att lära mig webbprogrammering. Jag kan en del python sen tidigare. I somras läste jag en kurs inom programmering som fokuserade på C++. Det var kul. Jag är sen tidigare en civilingenjör men önskar skola om mig till programmerare. Jag hade gärna även läst mer tungrodd matematik och programmering, men jag hittade inget kortare färdigt distansprogram. Jag är supertaggad på att lära mig webbprogrammering och jag ser framemot att bli en fullfjädrad webbprogrammerare. Jag jobbar 80% samtidigt som jag pluggar, det innebär  att jag kommer förlora en del av min fritid under de här två åren men jag tänker att uppoffringen är värd belöningen.</p>
    <img src="{{ asset('img/me_2.png') }}" alt="hej" class="me">
</div>

{% endblock %}