{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="index center">
<h1 id="kmom01">Kmom01</h1></a>


<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>
<h1 id="kmom02">Kmom02</h1></a>
<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
<p>Symmetri och balans är något som människor finner tilltalande och icke-balans bör ha ett syfte. 
    Därför är det enklare att inte bryta mot symmetridesignprincipen, såvida det inte görs på ett kreativt sätt.</p>

<p>Repetition är tidseffektivt för utvecklaren och har effekten att besökaren känner igen sig på sidan. 
Det bidrar även till varumärket och sidans identitet. Det här är en naturlig designprincip att införliva på sin sida.</p>

<p>Färg är en designprincip som kräver, av naturliga skäl, att ett beslut tas tidigt i utvecklandet av sidan. 
Det är lätt att välja ut ett "good enough" färgschema som är baserat på olika nyanser av grått, svart, vitt, och 1-3 andra färger. 
Att uppnå harmoni med färgerna och överträffa den gemene sidan är däremot svårt. Speciellt när färgerna kan ha olika symbolisk betydelse och när en speciell image eftersträvas. 
Därför krävs det en iterationsprocess där olika färger testas mot varandra tills tillräckligt bra resultat uppnås. Att tillgänglighetsanpassa färgerna ökar svårighetsgraden med ett par nivåer, 
vilket kan leda till att en sida kanske inte uppnår 100% i tillgänglighet.</p>

<p>Typografin är enklare att bara följa "default"-läge på i och med att standardinställningarna är bra nog. Ett typsnitt med bra utseende, rätt radhöjd och teckenavstånd kan göra stor skillnad och 
hjälpa till med att förstärka sidans image. Designen är inte bättre än sin svagaste länk och för att helhetsbilden inte ska brista så krävs det att typografin matchas mot övriga sidan.</p>

<p>Hierarki och skala kommer också naturligt, det är givet att den mest relevanta informationen presenteras först och störst. För att göra sidan mindre enformig så kan designern sträva efter att 
uppnå hierarkierna och skalan genom olika sätt. Ett hypotetiskt sätt för detta vore, att i en rad med fyra block, skapa ett block med framträdande drag som inte beror på skala eller ordning 
(kanske ändrar man på bakgrundsfärgen). Då dras blicken naturligt dit först och blocket hamnar även högst upp i hierarkin bland sina grannar.</p>

<p>Sidan är tillräckligt bra i relation till dess syfte och de begränsningar som funnits i utvecklingen. Ingen kund vill betala hur mycket som helst och sidan är 
gjord i en grundkurs i design och användarvänlighet. Läggs ytterligare tid kommer de så viktiga detaljerna komma än mer till sin rätt och det är möjligt att 
säkerställa att sidan fungerar perfekt vid alla upplösningar. Exempel på sådant som skulle kunna höja sidan ytterligare i en vidareutveckling: framtagning av 
unika bilder där själva eventen syns och ytterligare utforskning av hur designprincipen negativt utrymme påverkar känslan i olika upplösningar (t.ex. runt vissa bilder). 
Just hur viktigt bilder är för sidans uppfattning är något vi konstaterade i Uppdrag 5.</p>

<p>Överlag så kan resultatet sammanfattas med att de mest påfallande designelementen är färg och principerna kring elementens storlek, 
placering, hierarki med mera. Det som är viktigt att påpeka är att för att skapa en tilltalande sida så är detaljerna väldigt viktiga. 
Det finns åtskilliga bra verktyg som hjälper vid design och skapande av sidor och som redan från början har en uttänkt plan på hur 
designprinciperna ska utnyttjas. Detta bidrar dock till att det finns många sidor med liknande struktur och därför mindre minnesvärda. 
Här blir detaljerna extra viktiga, de kan få en sida att bli mer tilltalande och stå ut från mängden.</p>
</div>


{% endblock %}